<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"  href="/static/style.css"> 
    <script defer src= "/static/script.js"></script>
    <title>Document</title>
</head>
<body>
<header>

    <style>
        body {
            background-image: linear-gradient(to bottom, #D7C0AE, #B7C4CF);
        }
    </style>
    <nav>
        <div class="menu-left">
            <a href="/aboutUs/">Про нас</a>
        </div>
        <div class="menu-center">
            <a href="/posts/">Вироби</a>
            <a href="/events/">Події</a>
            <a href="/study/">Навчання</a>
            <a href="/reports/">Звіти</a>
        </div>
        <div class="menu-right">
            <a href="/profile/">Профіль</a>
            <a href="/language/" class="language"><span class="arrow"></span> EN</a>
        </div>
    </nav>
    
</header>
<div class="background-image"></div>
<div class="about-section-wrapper">
    <h1>Про нас</h1>
    <img src="/static/images/picture2.png" alt="Общее фоновое изображение" class="shared-background1">
    <img src="/static/images/picture1.png" alt="Общее фоновое изображение" class="shared-background2">
<div class="about-section">
    <div class="about-item">
        <h3>Навчаємо всіх охочих волонтерів</h3>
        <img src="/static/images/sample1.png" alt="Навчання волонтерів">     
        <a href="/details/">Детальніше</a>
    </div>
    <div class="about-item">
        <h3>Допомагаємо ЗСУ</h3>
        <img src="/static/images/sample2.png" alt="Допомога ЗСУ">
        <a href="/details/">Детальніше</a>
    </div>
</div>
</div>
<button class="btn-learn-more">Запис на навчання</button>

<<<<<<< HEAD
<body>
    <p id="firstText">"Швейна рота" — це волонтерський проєкт, який займається пошиттям адаптивного одягу для поранених захисників і захисниць України, а також цивільних, які постраждали внаслідок російської агресії. Зусилля проєкту спрямовані на забезпечення поранених якісним, комфортним і функціональним одягом, який допомагає зберегти гідність і полегшити реабілітацію на всіх етапах — від евакуації до одужання.
    </p>
    <h3 id="h3">Основні досягнення:</h3>
    <ul id="unorderedList">
        <li>Пошито і передано більше 100 000 одиниць адаптивного одягу шпиталям, військовим частинам та реабілітаційним центрам.</li>
        <li>Залучено 700+ волонтерів у різних куточках світу.</li>
        <li>Розроблено і опубліковано лекала та майстер-класи з пошиття адаптивного одягу у відкритий доступ, що сприяло об'єднанню майстрів з різних країн.</li>
        <li>Першими створили унікальні моделі: адаптивні худі, жіночу адаптивну білизну та інший одяг, який враховує потреби поранених.</li>
    </ul>
    <img id="firstPhoto" src="./static/images/photo_2024-12-04_23-37-41 1.png" width="454" height="472">
    
    <img id="secondPhoto" src="./static/images/image-removebg-preview (1) 2.png">
    
=======
<p class="description">
    “Швейна рота” — це волонтерський проект, який займається пошиттям адаптивного одягу для поранених захисників і захисниць України, а також цивільних, які постраждали внаслідок російської агресії. 
    Зусилля проекту спрямовані на забезпечення поранених якісним, комфортним і функціональним одягом, який допомагає зберегти гідність і полегшити реабілітацію на всіх етапах — від евакуації до одужання.
</p>
>>>>>>> d538d142eeb32d4b534dd1e1385ac426906a054e
</body>
</html>