<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"  href="/static/style.css"> 
    <script defer src= "/static/script.js"></script>
    <title>Document</title>
</head>
<header>

    <style>
        body {
            background-image: linear-gradient(to bottom, #D7C0AE, #B7C4CF);
        }
    </style>
    <nav>
        <div class="menu-left">
            <a href="/aboutUs/">Швейна рота</a>

            <img src="/static/images/picture1.png" alt="">
        </div>
        <div class="menu-right">
            <a href="/youtub/"><img src="/static/images/png-youtube-preview.png" alt=""></a>
            <a href="/telega/"><img src="/static/images/png-telegram-preview.png" alt=""></a>
            <a href="/facebook/"><img src="/static/images/png-feacbook.png" alt=""></a>
            <a href="/instagram/"><img src="/static/images/png-instagram-preview.png" alt=""></a>

            <a href="/profile/">Профіль</a>
            <a href="/language/" class="language"><span class="arrow"></span> EN</a>
        </div>
    </nav>
    
</header>
<body>
    <section class="hero">
        <h1>Швейна рота</h1>
        <div class="overlay">
            <p>Підтримай Україну разом з нами!</p>
            <div>
                <button class="button-stading">Зробити замовлення</button>
            </div>
        </div>
    </section>
    <div class="about-section-wrapper">
        <h1>Про нас</h1>
        <div class="stats">
            <div class="stat-item">
              <h2>100 тис.+</h2>
              <p>одиниць адаптивного одягу</p>
            </div>
            <div class="stat-item">
              <h2>700+</h2>
              <p>волонтерів в усіх частинах світу!</p>
            </div>
            <div class="stat-item">
              <h2>100+</h2>
              <p>госпіталів, резабів, лікарень і т.д...</p>
            </div>
            <div class="stat-item">
              <h2>1800+</h2>
              <p>індивідуальних адресних запитів на адаптивний одяг</p>
            </div>
          </div>
        <img src="/static/images/picture2.png" alt="Общее фоновое изображение" class="shared-background1">
        
        <div class="about-item">
            <h3>Навчаємо всіх охочих волонтерів</h3>
            <img src="/static/images/sample1.png" alt="Навчання волонтерів">     
            <a href="/study/">Доєднатися до пошиття </a>
        </div>
        <div class="about-item">
            <h3>Допомагаємо ЗСУ</h3>
            <img src="/static/images/sample2.png" alt="Допомога ЗСУ">
            <a href="/details/">Підтримка</a>
        </div>
    </div>
    </div>
    <button class="btn-learn-more">Запис на навчання</button>
    
    <div>
        <p id="firstText">"Швейна рота" — це волонтерський проєкт, який займається пошиттям адаптивного одягу для поранених захисників і захисниць України, а також цивільних, які постраждали внаслідок російської агресії. Зусилля проєкту спрямовані на забезпечення поранених якісним, комфортним і функціональним одягом, який допомагає зберегти гідність і полегшити реабілітацію на всіх етапах — від евакуації до одужання.
        </p>
        <h3 id="h3">Основні досягнення:</h3>
        <ul id="unorderedList">
            <li>Пошито і передано більше 100 000 одиниць адаптивного одягу шпиталям, військовим частинам та реабілітаційним центрам.</li>
            <li>Залучено 700+ волонтерів у різних куточках світу.</li>
            <li>Розроблено і опубліковано лекала та майстер-класи з пошиття адаптивного одягу у відкритий доступ, що сприяло об'єднанню майстрів з різних країн.</li>
            <li>Першими створили унікальні моделі: адаптивні худі, жіночу адаптивну білизну та інший одяг, який враховує потреби поранених.</li>
        </ul>
    </div>
</body>
</html>