<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"  href="/static/style.css"> 
    <script defer src= "/static/script.js"></script>
    <title>Document</title>
</head>

<header>
    <p>Швейна рота</p>
    <a href="/aboutUs/">About us</a>
    <a href="/posts/">Вироби</a>
    <a href="/events/">Події</a>
    <a href="/study/">Навчання</a>
    <a href="/reports/">Звіти</a>
    <a href="/profile/">Профіль</a>
</header>

<section class="hero">
    <img src="/static/images/bg1.jpg" alt="Колоскі">       
    <h1>Швейна рота</h1>
    <div class="overlay">
        <p>Підтримай Україну разом з нами!</p>
        <div class="buttons">
            <button>Донат</button>
            <button>Запис на навчання</button>
        </div>
    </div>
</section>

<body>
</body>
</html>