<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"  href="/static/style.css"> 
    <script defer src= "/static/script.js"></script>
    <title>Document</title>
</head>
<header>

    <style>
        body {
            background-image: linear-gradient(to bottom, #D7C0AE, #B7C4CF);
        }
    </style>
    <nav>
        <div class="menu-left">
            <a href="/aboutUs/">Швейна рота</a>
            
            <img src="/static/images/picture1.png" alt="">

            <a href="https://send.monobank.ua/jar/5VV7zhDJGY">Підтримати</a>
        </div>
        <div class="menu-right">
            <a href="/youtub/"><img src="/static/images/png-youtube-preview.png" alt=""></a>
            <a href="/telega/"><img src="/static/images/png-telegram-preview.png" alt=""></a>
            <a href="/facebook/"><img src="/static/images/png-feacbook.png" alt=""></a>
            <a href="/instagram/"><img src="/static/images/png-instagram-preview.png" alt=""></a>

            <a href="/profile/">Профіль</a>
            <a href="/language/" class="language"><span class="arrow"></span> EN</a>
        </div>
    </nav>
    
</header>
<body>
    <section class="hero">
        <h1>Швейна рота</h1>
        <div class="overlay">
            <p>Підтримай Україну разом з нами!</p>
            <div>
                <button class="button-stading">Зробити замовлення</button>
            </div>
        </div>
    </section>
    <div class="about-section-wrapper">
        <h1>Про нас</h1>
        <div class="stats">
            <div class="stat-item">
              <h2>100 тис.+</h2>
              <p>одиниць адаптивного одягу</p>
            </div>
            <div class="stat-item">
              <h2>700+</h2>
              <p>волонтерів в усіх частинах світу!</p>
            </div>
            <div class="stat-item">
              <h2>100+</h2>
              <p>госпіталів, резабів, лікарень і т.д...</p>
            </div>
            <div class="stat-item">
              <h2>1800+</h2>
              <p>індивідуальних адресних запитів на адаптивний одяг</p>
            </div>
          </div>
        <img src="/static/images/picture2.png" alt="Общее фоновое изображение" class="shared-background1">
        
        <div class="about-section">
            <div class="about-item">
                <h3>Навчаємо всіх охочих волонтерів</h3>
                <img src="/static/images/sample1.png" alt="Навчання волонтерів">     

            </div>
            <div class="about-item">
                <h3>Допомагаємо ЗСУ</h3>
                <img src="/static/images/sample2.png" alt="Допомога ЗСУ">
            </div>
        </div>
        </div>
        <button class="support"><a href="https://send.monobank.ua/jar/5VV7zhDJGY">Підтримати</a></button>
        <button class="join">Доєднатися до пошиття</button>
    


    <div class="aboutAs">
        <p >
            Ми добровільне об'єднання "Швейна рота", яке на волонтерських 
            засадах відшиває адаптивний одяг для поранених військових. 
            Адаптивний одяг - це такий, який має липучки/кнопки/зав'язки. Завдяки 
            цим адаптаціям, воїни та медперсонал можуть швидко та безболісно 
            одягнутися та здійснити необхідні маніпуляції. 
            Ми шиємо адаптивні штани, шорти, труси, худі, кофти, футболки та інший 
            одяг. 
            Наші кравчині і кравці з усіх куточків України і закордоном у своїх 
            майстернях і домівках відшивають одяг, щоб одягнути якомога більше 
            поранених. 
            Ми працюємо виключно на волонтерських засадах, тож будемо вдячні за 
            підтримку нашого проекту. 


        </p>
    </div>



</body>
</html>