<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"  href="/static/style.css"> 
    <script defer src= "/static/script.js"></script>
    <title>Document</title>
</head>
<header>

    <style>
        body {
            background-image: linear-gradient(to bottom, #D7C0AE, #B7C4CF);
        }
    </style>
    <nav>
        <div class="menu-left">
            <a href="/aboutUs/">Швейна рота</a>

            <img src="/static/images/picture1.png" alt="">
        </div>
        <div class="menu-right">
            <a href="/youtub/"><img src="/static/images/png-youtube-preview.png" alt=""></a>
            <a href="/telega/"><img src="/static/images/png-telegram-preview.png" alt=""></a>
            <a href="/facebook/"><img src="/static/images/png-feacbook.png" alt=""></a>
            <a href="/instagram/"><img src="/static/images/png-instagram-preview.png" alt=""></a>

            <a href="/profile/">Профіль</a>
            <a href="/language/" class="language"><span class="arrow"></span> EN</a>
        </div>
    </nav>
    
</header>
<body>
    <section class="hero">
        <h1>Швейна рота</h1>
        <div class="overlay">
            <p>Підтримай Україну разом з нами!</p>
            <div>
                <button class="button-stading">Зробити замовлення</button>
            </div>
        </div>
    </section>
    <div class="about-section-wrapper">
        <h1>Про нас</h1>
        <div class="box">
            <h1>100 тис.+</h1>
            <h1>700+</h1>
            <h1>100+</h1>
            <h1>1800+</h1>
        </div>
        <div class="box1">
            <p>одиниць адаптативного 
                одягу</p>
            <p>волонтерів в усіх частинах світу!</p>
            <p>госпталів, резабів, лікарень і т.д...</p>
            <p>індивідальних адресних запитів на адаптивний одяг</p>
        </div>
        <img src="/static/images/picture2.png" alt="Общее фоновое изображение" class="shared-background1">
        <img src="/static/images/picture1.png" alt="Общее фоновое изображение" class="shared-background2">
    <div class="about-section">
        <div class="about-item">
            <h3>Навчаємо всіх охочих волонтерів</h3>
            <img src="/static/images/sample1.png" alt="Навчання волонтерів">     
            <a href="/study/">Доєднатися до пошиття </a>
        </div>
        <div class="about-item">
            <h3>Допомагаємо ЗСУ</h3>
            <img src="/static/images/sample2.png" alt="Допомога ЗСУ">
            <a href="/details/">Підтримка</a>
        </div>
    </div>
    </div>
    <button class="btn-learn-more">Запис на навчання</button>
    


    <div class="aboutAs">
        <p >
            Ми добровільне об'єднання "Швейна рота", яке на волонтерських 
            засадах відшиває адаптивний одяг для поранених військових. 
            Адаптивний одяг - це такий, який має липучки/кнопки/зав'язки. Завдяки 
            цим адаптаціям, воїни та медперсонал можуть швидко та безболісно 
            одягнутися та здійснити необхідні маніпуляції. 
            Ми шиємо адаптивні штани, шорти, труси, худі, кофти, футболки та інший 
            одяг. 
            Наші кравчині і кравці з усіх куточків України і закордоном у своїх 
            майстернях і домівках відшивають одяг, щоб одягнути якомога більше 
            поранених. 
            Ми працюємо виключно на волонтерських засадах, тож будемо вдячні за 
            підтримку нашого проекту. 


        </p>
    </div>
</body>
</html>