<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script defer src= "/static/post.js"></script>
    <link rel="stylesheet"  href="/static/masterclass.css">
    <title>Document</title>
</head>

<body>

    <h1>Кібершорти</h1>
    <p>Лекала:</p>
    <img src="/static/images/.png" alt="Лекало1">
    <img src="/static/images/.png" alt="Лекало2">
    <p></p>
    <p>Приклади готового одягу:</p>
    <img src="/static/images/.png" alt="Готовий одяг1">
    <img src="/static/images/.png" alt="Готовий одяг2">
    <img src="/static/images/.png" alt="Готовий одяг3">
    <p>Деталі чи варіативність</p>
    <p>Автор лекал</p>
    
</body>
</html>