<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script defer src= "/static/post.js"></script>
    <link rel="stylesheet"  href="/static/masterclass.css">
    <title>Document</title>
</head>

<body>

    
    <div>
        <div>
            <h1><%= Name %></h1>
            <p><%= Description %></p>
            <p><%= Author %></p>
        </div>
    </div>
    
</body>
</html>