<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script defer src= "/static/post.js"></script>
    <link rel="stylesheet"  href="/static/masterclass.css">
    <title>Document</title>
</head>

<body>
    <style>
        body {
            background-image: linear-gradient(to bottom, #D7C0AE, #B7C4CF);
        }
    </style>
    <h1>Труси на зв'язках</h1>
    <p>Лекала:</p>
    <div class="photoes1">
        <img src="/static/images/Instruction.png" alt="Лекало1">
        <img src="/static/images/Instruction.png" alt="Лекало2">
    </div>
    <p></p>
    <p>Приклади готового одягу:</p>
    <div class="photoes2">
    <img src="/static/images/example1.png" alt="Готовий одяг1">
    <img src="/static/images/example2.png" alt="Готовий одяг2">
    <img src="/static/images/example3.png" alt="Готовий одяг3">
    </div>
    <p>Фото поранених:</p>
    <div class="photoes1">
    <img src="/static/images/injured1.png" alt="Готовий одяг1">
    <img src="/static/images/injured2.png" alt="Готовий одяг2">
    <img src="/static/images/injured3.png" alt="Готовий одяг3">
    </div>
    <p>Деталі чи варіативність</p>
    <p>У Дніпрі, в приміщенні, де Ксенія з Мариною та іншими майстринями зі "Швейної роти" створюють одяг, так тісно, що важко розминутися. Столи займають більшість простору. Найцінніше — 12 швейних машин — щоразу ховають після роботи від можливих обстрілів та осколків: у район уже прилітало.
        З цього невеликого, але єдиного їхнього офісу засновниці проєкту “Швейна рота” координують 250 майстринь. Кравчині живуть по Україні та світу, лік пошитого ними перейшов за кільканадцять тисяч екземплярів різного військового гардеробу. Ця справа досі тримається на волонтерстві, а кураторки проєкту вперто відмовляються ставати бізнесом.</p>
    <p>Автор лекал</p>

</body>
</html>