<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script defer src= "/static/post.js"></script>
    <link rel="stylesheet"  href="/static/study.css">
    <title>Document</title>
</head>
<header>

    
    <nav>
        <div class="menu-left">
            <a href="/aboutUs/">Швейна рота</a>
        </div>
        <div class="menu-right">
            <a href="/masterclass/">Майстер-клас</a>
            <a href="/profile/">Профіль</a>
            <a href="/language/" class="language"><span class="arrow"></span> EN</a>
        </div>
    </nav>
    
</header>
<body>
    <div class="background-image">
    <h1>Кіберодяг</h1>
    <ul>
        <li><a href="/profile/">Кібертруси</a></li>
        <li><a href="/profile/">Труси на зав'язках</a></li>
        <li><a href="/profile/">Бавовнянки</a></li>
        <li><a href="/profile/">Кібершорти</a></li>
        <li><a href="/profile/">Кіберштани</a></li>
        <li><a href="/profile/">Кіберфутболка</a></li>
        <li><a href="/profile/">Кіберкофта</a></li>
        <li><a href="/profile/">Кіберхуді</a></li>
        <li><a href="/profile/">Подушка кісточка</a></li>
        <li><a href="/profile/">Бандаж</a></li>
        <li><a href="/profile/">Чохол на апарат</a></li>
        <li><a href="/profile/">Адаптивні шкарпетки</a></li>
        <li><a href="/profile/">Торбинка українського воїна</a></li>
    </ul>
    <h1>Бронеодяг</h1>
    <ul>
        <li><a href="/profile/">Бронетруси</a></li>
        <li><a href="/profile/">Бронеубакс</a></li>
        <li><a href="/profile/">Бронефутболки</a></li>
        <li><a href="/profile/">Маскувальний костюм</a></li>
        <li><a href="/profile/">Дощовики</a></li>
        <li><a href="/profile/">Піддупники</a></li>
    </ui>
</div>
</body>
</html>