<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script defer src= "/static/masterClass.js"></script>
    <link rel="stylesheet"  href="/static/study.css">
    <title>Document</title>
</head>
<!-- <header>

    <style>
        body {
            background-image: linear-gradient(to bottom, #D7C0AE, #B7C4CF);
        }
    </style>
    <nav>
        <div class="menu-left">
            <a href="/aboutUs/">Швейна рота</a>
        </div>
        <div class="menu-right">
            <a href="/masterclass/">Майстер-клас</a>
            <a href="/profile/">Профіль</a>
            <a href="/language/" class="language"><span class="arrow"></span> EN</a>
        </div>
    </nav>
    
</header> -->
<body>
    <a href="/masterclass/"></a>
    <h1>JJrfr</h1>
    <ul>

    
        <% if (masterClasses && masterClasses.length > 0) { %>
            <% masterClasses.forEach(function(masterClass) { %>
                <li><a href="/study/<%= masterClass.id %>"><%= masterClass.Name %></a></li>
            <% }) %>
        <% } else { %>
            <p>Майстер класів поки немає</p>
        <% } %>
    </ul>
    <button id='button' type="button">Створити виріб</button>


    <!-- <h1>Кіберодяг</h1> -->
    <!-- <p>Кібертруси</p> -->
    <!-- <ul> -->
        <!-- <li><a href="/profile/">Труси на зав'язках</a></li>
        <li><a href="/profile/">Бавовнянки</a></li>
        <li><a href="/profile/">Кібершорти</a></li>
        <li><a href="/profile/">Кіберштани</a></li>
        <li><a href="/profile/">Кіберфутболка</a></li>
        <li><a href="/profile/">Кіберкофта</a></li>
        <li><a href="/profile/">Кіберхуді</a></li>
        <li><a href="/profile/">Подушка кісточка</a></li>
        <li><a href="/profile/">Бандаж</a></li>
        <li><a href="/profile/">Чохол на апарат</a></li>
        <li><a href="/profile/">Адаптивні шкарпетки</a></li>
        <li><a href="/profile/">Торбинка українського воїна</a></li>
    </ul> -->
    <!-- <h1>Бронеодяг</h1> -->

</body>
</html>