<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script defer src= "/static/masterClass.js"></script>
    <link rel="stylesheet"  href="/static/study.css">
    <title>Document</title>
</head>
<header>

    <style>
        body {
            background-image: linear-gradient(to bottom, #D7C0AE, #B7C4CF);
        }
    </style>
    <nav>
        <div class="menu-left">
            <a href="/aboutUs/">Швейна рота</a>
        </div>
        <div class="menu-right">
            <a href="/profile/">Профіль</a>
            <a href="/language/" class="language"><span class="arrow"></span> EN</a>
        </div>
    </nav>
    
</header>
<body>
    <h1>Навчання</h1>
</body>
</html>