


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @font-face {
        font-family: 'Jost', sans-serif;
        src: url('/static/fonts/Jost-Regular.ttf');
    }
}
body {
    font-family: Arial, sans-serif;
    background-color: #D7C0AE;
}
header {
    background-color: #d2b189; /* Светло-коричневый фон для хедера */
    padding: 10px 20px;
    text-align: center;

}
header nav {
    display: flex;
    justify-content: space-between;
    align-items:self-end;
    background-color: #d2b18a; /* Колір фону, схожий на ваш */
    padding: 10px 20px;
}

.menu-left {
    flex: 1; /* Залишити на своєму місці */
    display: flex;
    justify-content: flex-start;

}
.menu-left img{
    width: auto;
    height: 42px;
}

.menu-right {
    flex: 1;
    display: flex;
    justify-content: flex-end; /* Вирівнювання до правого краю */
    gap: 30px;
}
.menu-right youtub{
    width: auto;
    height: auto;
}
.menu-right telega{
    width: auto;
    height: auto;
}

nav a {
    text-decoration: none;
    color: #4a3a3a; /* Колір тексту */
    font-weight: bold;
    font-size: 24px;
    text-shadow: 8px 8px rgba(0, 0, 0, 0.10);
    
}
nav a:hover {
    color: #3a76c0; /* Цвет текста при наведении - синий */
    text-decoration: underline; /* Подчеркивание при наведении */
}
.language {
    position: relative; /* Для коректної позиції стрілки */
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent; /* Ліва сторона трикутника */
    border-right: 6px solid transparent; /* Права сторона трикутника */
    border-top: 6px solid #4e1f47; /* Верхня сторона (колір) */
    margin-right: 8px; /* Відступ між стрілкою та текстом */
    transition: border-color 0.3s ease;
}

.language:hover .arrow {
    border-top-color: #3a76c0; /* Зміна кольору стрілки при наведенні */
}
.background-image {
    width: 100%; /* Полная ширина */
    height: 800px; /* Высота области с фоном */
    background-image: url('/static/images/bg1.jpg'); /* Укажите путь к изображению */
    background-size: cover; /* Покрыть всю область */
    background-position: center; /* Центрировать изображение */
    background-repeat: no-repeat; /* Отключить повтор */
}
h1 {
    font-size: 4rem;
    text-align: center;
    margin-top: 80px;
}
.about-section-wrapper {
    position: relative; /* Для позиционирования общего фона */
}

.about-section-wrapper .box-1{
    top:10px;
}
.shared-background1 {
    position: absolute; /* Абсолютное позиционирование общего фона */
    top: -80;
    left: -100;
    width: 100%; /* Фон растягивается на всю ширину контейнера */
    height: 900px; /* Растягивается по высоте секции */
    object-fit: cover; /* Масштабирует изображение, сохраняя пропорции */
    z-index: -1; /* Размещаем фон под содержимым */
}
.shared-background2 {
    position: absolute; /* Абсолютное позиционирование общего фона */
    top: -400;
    left: 1210; /* Привязка фона к левой стороне */
    width: 300px; /* Уменьшение ширины изображения */
    height: 980px; /* Растягивается по высоте секции */
    object-fit: scale-down; 
    z-index: -1; /* Размещаем фон под содержимым */
    opacity: 0.3;
}
.about-section {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 20px;
}

.about-item {
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    width: 500px;
    z-index: 1; /* Поверх общего фона */
}

.about-item img {
    width: 100%;
    border-radius: 5px;
}

.stats {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
    padding: 20px;
    font-size: 44px;
}
  
.stat-item {
    text-align: center;
    max-width: 200px; /* Чтобы текст выглядел компактно */
    font-size: 44px;
}
  
.stat-item h2 {
    font-size: 24px;
    color: #000; /* Чёрный цвет для чисел */
    margin: 0 0 10px;
    font-size: 44px;
}
  
.stat-item p {
    font-size: 16px;
    color: #291F20; /* Тёмно-серый цвет для текста */
    margin: 0;
    font-size: 24px;
}

.about-item h3 {
    height: 70px;
    font-weight: normal;
    font-style: italic;
    display: flex; /* Включает Flexbox */
    align-items: center; /* Центрирует текст по вертикали */
    justify-content: center; /* Центрирует текст по горизонтали */
    text-align: center; /* Дополнительно выравнивает текст внутри */
}


.about-item a {
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: bold;

    font-size: large;

}

.about-item a::before{
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom:-10px;
    color: white;
    border-radius: 10px;
    background: linear-gradient(45deg, #060813, #072051);
    z-index: -1;
}

.btn-learn-more {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background: linear-gradient(45deg, #060813, #072051); /* Градиент */
    color: white;
    border: none;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    
}

.description {
    text-align: start ;
    margin-top: 50px;
    margin-left: 20px;
    width: 95%;
    color: #333;
    font-size: 1.5rem;
}
#firstText {
    font-size: 32px;
    padding-left: 42px;
    padding-right: 150px;
        
    
}
#h3 {
    font-size: 32px;
    padding-left: 41px;

}
#unorderedList{
    font-size: 32px;
    padding-left: 129px;
    padding-right: 30px;
}
#firstPhoto {
    position: relative;
    right: -869px;
    top: -578px;  
}
#secondPhoto {
    position: relative;
    right: -439px;
    top: -195px;
}

.hero {

    width: 100%; 
    height: 832px; 
    background-image: url('/static/images/bg1.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;

    position: relative;
    font-size: 128px;
}

.hero h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000;
    text-shadow: 10px 8px rgba(0, 0, 0, 0.17);
    font-size: 128px;
}

.overlay {
    background-color: rgba(146, 84, 30, 0.71);
    width: 561;
    height: 312;
    padding: 10px 40px;
    display: inline-block;
    
}

.overlay p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #fff;
    font-size: 31px;
}

.button-stading {
    width: 297;
    height: 61;

    background: linear-gradient(to top, #060813, #072051);
    color: #fff;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    display: inline;

    flex-direction: column;
    gap: 10px;
    margin: 50px;
    font-size: 26px;
}